{% extends 'base.html.twig' %}

{% block title %}Apprenant{% endblock %}

{% block body %}
    <h1>Apprenant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apprenant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ apprenant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ apprenant.prenom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_apprenant_index') }}">back to list</a>

    <a href="{{ path('app_apprenant_edit', {'id': apprenant.id}) }}">edit</a>

    {{ include('apprenant/_delete_form.html.twig') }}
{% endblock %}
